body
{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin:0;
	background: url("../img/background.jpg") no-repeat center center fixed;
 	background-size: cover;
    background-color: #BCD2D5;
	color: rgb(51, 51, 51);

}

header
{
	background-color: rgba(255, 255, 255, 0.3);
	text-align: center;
	padding:30px;
	font-family: Lemon, cursive, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 4em;
	font-weight: normal;
	padding:10px;
    margin-top: 10px;
}

ul {
    list-style-type: none;
    padding: 10px;
    margin: 0px;
}

li
{
	font-size: 1.5em;
	margin-bottom: 10px;
}

h2
{
	text-align: center;
	font-weight: normal;
	background-color: white;
	margin:0;
	margin-bottom:10px;
	padding:5px;
	border-bottom: 1px solid black;
}

h3
{
	text-align: center;
}

.column
{
	width:50%;
	float:left;
	/*background-color: red;	*/
}

th, td {
    padding: 10px;
}
	td:nth-child(1)
	{
		text-align: center;
		width:25%;
	}
	td:nth-child(2)
	{
		width:60%;
	}
table
{
	font-size:1.5em;
	width:100%;
}
img
{
	height:2em;
}
img:hover {
	position:absolute;
	margin-left:-25%;
	margin-top:-10%;
	/*top: 10px;*/
	height:50%;
}
article
{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1000px;
	width:1170px;
	overflow: auto;
}

section
{
	margin: 1%;
	border: 1px solid black;

	background-color: rgba(255, 255, 255, 0.701961);
	/*padding:10px;*/
	/*box-sizing: border-box;*/
	/*display: inline-block;*/
/*        	position: relative;
	float:left;
*/        }

.keyboard
{
	color:black;
	font-family: 'Roboto Condensed', sans-serif;
	border: 2px solid black;
	border-radius:5px;
	display : inline-block;
	min-width:1.7em;
	height:1.7em;
	padding-left: 0.1em;
	padding-right: 0.1em;
	line-height: 1.7em;
	text-align: center;
	/*font-size: 1.7em;*/
	box-shadow: 2px 2px 0px 0px black; 

}

nav
{
	background-color: rgba(255, 255, 255, 0.701961);
	position: fixed;
	margin-left: 10px;
	margin-top: 10px;
	color:black;
	border:1px solid black;
	border-radius:10px;
}

a
{
	text-decoration:none;
}

a:link, a:visited {
    color: black;
}
a:hover {
    color: blue;
}

/*
.spacer
{
		clear: both;
}*/
